<div>URL: {{gist.url}}</div>
<div>Forks URL: {{gist.forksUrl}}</div>
<div>Commits URL: {{gist.commitsUrl}}</div>
<div>Description: {{gist.description}}</div>
<div>Public? {{if gist.public 'Yes' 'No'}}</div>
<div>Created: {{gist.createdAt}}</div>
<div>Last Updated: {{gist.updatedAt}}</div>
<div>
  Files:
</div>
